{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - détail
{% endblock %}

{% block content %}
<h1>Voici dans le détail mon site</h1>
<p>lkjbqdf lkjqldjb lqkjbdf kkj kj</p>

<a href="index.php">Pour retourner à l'accueil</a>

{% endblock %}