{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - home
{% endblock %}

{% block content %}
<h1>Voici ma page d'accueil</h1>
<p>mlkknl qsfknqmlkf nqmlkfnq</p>

<a href="detail.php">Pour aller voir le détail</a>

{% endblock %}